html, body {
    margin: 0;
    padding: 0;
}
.main-title-sedans, .main-title-suvs, .main-title-luxury, .text-sedans, .text-suvs, .text-luxury {
    color: #F2F2F2;
}
.logo-1, .logo-2, .logo-3 {
    height: 40px;
    width: 64px;
    margin-left: 30px;
}
.box-sedans {
    background-color: #E28625;
}
.box-suvs {
    background-color: #006971;
}
.box-luxury {
    background-color: #004140;
}

@media screen and (max-width: 640px) {

   
    .box-sedans {
        background-color: #E28625;
        height: 442px;
        width: 327px;
        border-radius: 15px 15px 0px 0px;
        
    }
    .box-suvs {
        background-color: #006971;
        height: 442px;
        width: 327px;
        
    }
    .box-luxury {
        background-color: #004140;
        height: 442px;
        width: 327px;
        border-radius: 0px 0px 15px 15px;
       
    }
    .btn {
        
        background-color: #F2F2F2;
        text-decoration: none;
        border-radius: 15px;
    }
    .div-btn {
        margin-left: 30px;
        height: 48px;
        width: 146px;
    }
    .text-sedans, .text-suvs, .text-luxury {
        max-width: 200px;
        margin-left: 30px;
    }
    .text-btn1 {
        height: 25px;
        width: 83px;
        color: #E28625;
        
    }
    .text-btn2 {
        height: 25px;
        width: 83px;
        color: #006971;
        
    }
    .text-btn3 {
        height: 25px;
        width: 83px;
        color: #004140;
        
    }
    .main-title-sedans, .main-title-suvs, .main-title-luxury {
        margin-left: 30px;
    }
    .logo-1, .logo-2, .logo-3 {
        margin-top: 30px;
    }
       
}

@media screen and (min-width: 641px) {

    .box-sedans {
         
        height: 500px;
        width: 307px;
        border-radius: 15px 0 0 15px;
       
    }
    .box-suvs {
          
        height: 500px;
        width: 307px;  
    }
    .box-luxury {
         
        height: 500px;
        width: 307px;
        border-radius: 0 15px 15px 0;
    }
    .logo-1, .logo-2, .logo-3 {
        height: 40px;
        width: 64px;
        margin-top: 30px;
    }
    .main-title-sedans, .main-title-suvs, .main-title-luxury {
        height: 48px;
        width: 101px;
        margin-left: 30px;
        
    }
    .text-sedans, .text-suvs, .text-luxury {
        height: 125px;
        width: 212px;
        margin-left: 30px;
    }

.container {
    display: grid;
    grid-template-columns: 307px 307px 307px;
    justify-content: center;
}
.btn {
        
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 15px;
}
#btn-1:hover {
    
    border-radius: 1px solid #F2F2F2;
}
.div-btn {
    margin-left: 30px;
    height: 48px;
    width: 146px;
}
.text-btn1 {
    height: 25px;
    width: 83px;
    color: #E28625;
    
}
.text-btn2 {
    height: 25px;
    width: 83px;
    color: #006971;
    
}
.text-btn3 {
    height: 25px;
    width: 83px;
    color: #004140;
}
#btn-1:hover {
    background-color: #E28625;
    border: 2px solid #F2F2F2;
}
.text-btn1:hover {
    color: #F2F2F2;
}
#btn-2:hover {
    background-color: #006971;
    border: 2px solid #F2F2F2;
}
.text-btn2:hover {
    color: #F2F2F2;
}
#btn-3:hover {
    background-color: #004140;
    border: 2px solid #F2F2F2;
}
.text-btn3:hover {
    color: #F2F2F2;
}


}