html, body {
    margin: 0;
    padding: 0;
}
.main-title-sedans, .main-title-suvs, .main-title-luxury, .text-sedans, .text-suvs, .text-luxury {
    color: #F2F2F2;
}
.logo-1, .logo-2, .logo-3 {
    height: 40px;
    width: 64px;
    margin-left: 30px;
}

@media screen and (max-width: 640px) {

   
    .box-sedans {
        background-color: #E28625;
        height: 442px;
        width: 327px;
    }
    .box-suvs {
        background-color: #006971;
        height: 442px;
        width: 327px;
    }
    .box-luxury {
        background-color: #004140;
        height: 442px;
        width: 327px;
    }
    .btn {
        height: 48px;
        width: 146px;
        background-color: #F2F2F2;
        text-decoration: none;
        border-radius: 15px;
    }
    .text-sedans, .text-suvs, .text-luxury {
        max-width: 200px;
        margin-left: 30px;
    }
    .text-btn1 {
        height: 25px;
        width: 83px;
        color: #E28625;
        
    }
    .text-btn2 {
        height: 25px;
        width: 83px;
        color: #006971;
        
    }
    .text-btn3 {
        height: 25px;
        width: 83px;
        color: #004140;
        
    }
    .main-title-sedans, .main-title-suvs, .main-title-luxury {
        margin-left: 30px;
    }
    

}